.logo-menu {
    display: flex;
    align-items: center;
}

.bar {
    background: #db8f1c;
    width: 30%;
    height: 40px;
    position: absolute;
    margin-top: -20px;
}

.intro-black-alt {
    color: #efc417;
}


.bg-verde {
    background: #4cbdb3;
}



#progress {
    position: absolute;
    width: 100%;
    height: 3px;
}

#bar {
    background-color: #fff;
    height: 100%;
    transition: width 0.1s ease;
}

#bar.hide {
    opacity: 0;
    transition: opacity 1s ease;
}

.cor1 {
    background: #efc417;
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cor2 {
    background: #4c83df;
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.data {
    color: #c40250;
    font-size: 10px;
    font-weight: bold;
}

.min200 {
    color: #FFF;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.amarelo {
    color: #efc417;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #60cfc5;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.menu a {
    color: #000;
    padding: 10px 10px;
}


a:hover {
    color: #643285;
}

.inputcolor {
    background: #e0e5e5;
    border-color: #797979;
}

#branco p {
    color: #FFF !important;}

#parceiros {
    position: relative;
    top: -45px;
}
